body{
	background: black;
    font-family: "Optima", sans-serif;
    color: black;
}


#fristIm img{
	display:block;
	width:100%;
}
section.AboutMe article h1{
	text-align: center;
}


div.clear{
	clear: both;
}

/*aghhhhh*/
/*Carousel CSS stuff*/

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
#box-2 img{
	
    display:block;
    margin: auto;
    width: 468px;
    height: 598px;
    float: right;
}
#box-2{
    width:100%;
    height: 100%;
}

#box-2 article{
	float: left;
  background: silver; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#624982, #67A0CB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#624982, #67A0CB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#624982, #67A0CB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#624982, #67A0CB); /* Standard syntax (must be last) */  
	width: 600px;
  height: 100%
	padding: 20px;
}